@font-face{
	font-family: 'donip1';
	src: url("police/donipolice1.ttf");
}

@font-face{
	font-family: 'donip2';
	src: url("police/donipolice2.ttf");
}

@font-face{
	font-family: 'donip3';
	src: url("police/donipolice3.ttf");
}
@font-face{
	font-family: 'donip4';
	src: url("police/donipolice4.ttf");
}
@font-face{
	font-family: 'donip5';
	src: url("police/donipolice5.ttf");
}
@font-face{
	font-family: 'donip6';
	src: url("police/donipolice6.ttf");
}
@font-face{
	font-family: 'donip7';
	src: url("police/donipolice7.ttf");
}
@font-face{
	font-family: 'donip8';
	src: url("police/donipolice8.ttf");
}
@font-face{
	font-family: 'donip9';
	src: url("police/donipolice9.ttf");
}
@font-face{
	font-family: 'donip10';
	src: url("police/donipolice10.ttf");
}
@font-face{
	font-family: 'donip11';
	src: url("police/donipolice11.ttf");
}
@font-face{
	font-family: 'donip12';
	src: url("police/donipolice12.ttf");
}